<div class="small-container">
  <div class="row row-2">
      <h2>All Products</h2>
      <select>
          <option>Default Shorting</option>
          <option>Short by price</option>
          <option>Short by popularity</option>
          <option>Short by rating</option>
          <option>Short by sale</option>
      </select>
  </div>
          <div class="row">
              <div class="col-4">
                  <a routerLink="/product-details"><img src="assets/images/s1.jpeg"></a>
                  <h4><a routerLink="/product-details">Red Printed T-Shirt</a></h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p>$50.00</p>
              </div>
              <div class="col-4">
                  <img src="assets/images/s2.jpeg">
                  <h4>HRX Sports Shoes</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                  </div>
                  <p>$75.00</p>
              </div>
              <div class="col-4">
                  <img src="assets/images/s3.jpeg">
                  <h4>HRX Gray Trackpants</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                  </div>
                  <p>$45.00</p>
              </div>
               <div class="col-4">
                  <img src="assets/images/s4.jpeg">
                  <h4>Blue Printed T-Shirt</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p>$55.00</p>
              </div>
          </div>

            <div class="row">
              <div class="col-4">
                  <img src="assets/images/s5.jpeg">
                  <h4>Puma Gray Sports Shoes</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p>$95.00</p>
              </div>
              <div class="col-4">
                  <img src="assets/images/s6.jpeg">
                  <h4>Black Printed T-Shirt</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                  </div>
                  <p>$55.00</p>
              </div>
              <div class="col-4">
                  <img src="assets/images/s7.jpeg">
                  <h4>HRX Set of 3 Socks</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                  </div>
                  <p>$30.00</p>
              </div>
               <div class="col-4">
                  <img src="assets/images/s8.jpeg">
                  <h4>Black Fossil Watch</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p>$120.00</p>
              </div>
          </div>

          <div class="row">
              <div class="col-4">
                  <img src="assets/images/s9.jpeg">
                  <h4>Black Sportx Watch</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p>$135.00</p>
              </div>
              <div class="col-4">
                  <img src="assets/images/s10.jpeg">
                  <h4>Black HRX Shoes</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                  </div>
                  <p>$50.00</p>
              </div>
              <div class="col-4">
                  <img src="assets/images/s11.jpeg">
                  <h4>Gray Nike Shoes</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                  </div>
                  <p>$55.00</p>
              </div>
               <div class="col-4">
                  <img src="assets/images/s12.jpeg">
                  <h4>HRX Black Trackpants</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p>$75.00</p>
              </div>
          </div>

          <div class="page-btn">
             <span>1</span>
             <span>2</span>
             <span>3</span>
             <span>4</span>
             <span>&#8594;</span>
         </div>
</div>
