<div class="header">
  <div class="container">
      <div class="row">
           <div class="col-2">

               <h1>Give Your Outfit<br>A New Style!</h1>
               <p>Success isn’t always about greatness. It’s about consistency. Consistent<br>hard work gains success. Greatness will come.</p>
               <a routerLink="/products" class="btn">Explore Now &#8594;</a>
           </div>
           <div class="col-2">
               <img src="assets/images/SVB-SAREE-PinkChanderi-Bhagalpuri-Silk-Saree-With-Blouse-Piece_1-by-600px-removebg-preview.png">
           </div>

      </div>

  </div>
  </div>

<!------------------ featured categories --------------->
<div class="categories">
  <div class="small-container">
    <div class="row">
        <div class="col-3">
            <img src="assets/images/s1.jpeg">
        </div>
        <div class="col-3">
           <img src="assets/images/s2.jpeg">
        </div>
        <div class="col-3">
            <img src="assets/images/s3.jpeg">
        </div>
    </div>
</div>
</div>

<!-------------- Our Featured Products -------------->

<div class="small-container">
 <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">

            <a href="product-details.html"><img src="assets/images/s4.jpeg"></a>
            <h4><a href="product-details.html">Green Printed Saree</a></h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$15000.00</p>
        </div>
        <div class="col-4">
            <img src="assets/images/s5.jpeg">
            <h4>Green Saree</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$7500.00</p>
        </div>
        <div class="col-4">
            <img src="assets/images/s6.jpeg">
            <h4>Pink Saree</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$4500.00</p>
        </div>
         <div class="col-4">
            <img src="assets/images/s7.jpeg">
            <h4>Blue Printed Saree</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$5500.00</p>
        </div>
    </div>
 <h2 class="title">Latest Products</h2>
      <div class="row">
        <div class="col-4">
            <img src="assets/images/s8.jpeg">
            <h4>Gray Saree</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$9500.00</p>
        </div>
        <div class="col-4">
            <img src="assets/images/s9.jpeg">
            <h4>Printed Saree</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$5500.00</p>
        </div>
        <div class="col-4">
            <img src="assets/images/s10.jpeg">
            <h4>Green kanchi</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$30000.00</p>
        </div>
         <div class="col-4">
            <img src="assets/images/s11.jpeg">
            <h4>Marroon Sare</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$12000.00</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="assets/images/s12.jpeg">
            <h4>Red Saree Printed</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$13500.00</p>
        </div>
        <div class="col-4">
            <img src="assets/images/s13.jpeg">
            <h4>Pink Printed Saree</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$5000.00</p>
        </div>
        <div class="col-4">
            <img src="assets/images/s14.jpeg">
            <h4>Blue Printed Saree</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$5500.00</p>
        </div>
         <div class="col-4">
            <img src="assets/images/s15.jpeg">
            <h4>Pink Saree</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$7500.00</p>
        </div>
    </div>
</div>

<!----------offer--------------->

<div class="offer">
<div class="small-container">
    <div class="row">
    <div class="col-2">
        <img src="assets/images/s7.jpeg" class="offer-img">
    </div>
    <div class="col-2">
        <p>Exclusively Available on Sampradya silks</p>
        <h1>Kanchi patu</h1>
        <small>Best and costly saree we offer you with high quality matterl.</small>
        <br>
        <a routerLink="/product-details" class="btn">Buy Now &#8594;</a>
    </div>
</div>
</div>

</div>

<!----------testimonial--------------->

<div class="testimonial">
<div class="small-container">
<div class="row">
    <div class="col-3">
             <i class="fa fa-quote-left"></i>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
               <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="assets/images/user-1.png">
                <h3>Sean Parker</h3>
    </div>
     <div class="col-3">
             <i class="fa fa-quote-left"></i>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
               <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="assets/images/user-2.png">
                <h3>Mike Smith</h3>
    </div>
     <div class="col-3">
             <i class="fa fa-quote-left"></i>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
               <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="assets/images/user-3.png">
                <h3>Mabel Joe</h3>
    </div>
</div>
</div>
</div>
